<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ModificaCitta</title>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<form th:action="@{/risultato}" method="get">
	<h1>Citt&aacute Selezionata</h1>
			<ul>
					<!--  <span th:each="modcit :${modCitta}"></span> -->
						<input type="text" name="nome" th:placeholder="${cittaSelezionata}">
							<input type="text" name="distretto" th:placeholder="${distrettoSelezionato}">
								<input type="text" name="popolazione" th:placeholder="${popolazioneselezionata}">
			 </ul>
									<input type="submit" value="Invio">
	</form>
	
	<table>
	<tr th:each="modcit :${modCitta}"><td th:text="${modcit}"></td>
</table>

</body>
</html>